.item-card {
  width: 250px;
}

.item-card img {
  width: 250px;
  height: 250px;
}

.sub-details {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* Number of lines to show */
  line-height: 1.4;
  /* Adjust line height as needed */
  max-height: calc(1.4 * 2);
  /* Adjust based on line height and number of lines */
}

@media (max-width:888px) {
  .item-card {
    width: 100%;
  }

}

@media (max-width:500px) {
  .item-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}